body{
	background-color: #000;
}

#wrapper{
	margin: 0 auto; 
	width: 980px;
	background-color: #000;

}

#header{
	background-image: url("img/Header.png");
	height: 245px;
	background-color: #000;

}

#menu{
	text-align: center;
	font: menu;
	font-size: 20pt;
	height: 110px;
	background-color: #000;

}

#content2{
	color: #FFF;
	font: menu;
	font-size: 12pt;
	text-align: left;
	height: 250px;


}

#content{
	color: #FFF;
	font-size: 50pt;
	font: menu;
	font-size: 12pt;
	text-align: right;
	height: 252px;

}


a:link{
	color: #FFF;
	text-decoration: none;

}

a:visited{	color: #FFFFFF;
	text-decoration: none;}

a:hover{	color: #FF9900;
	text-decoration: none;}

a:active{	color: #4D4D4D;
	text-decoration: none;}


}	
